
/* febsui-dialog */

/****************************************************/

/* alert */

/****************************************************/

/*
<div class="febsui-dialog" role="alert">
  <div class="febsui-dialog-container">
    <div class="febsui-dialog-title">title</div>
    <div class="febsui-dialog-content">content</div>
    <ul class="febsui-dialog-buttons">
      <li><button class="febsui-dialog-cancel">ok</button></li>
    </ul>
  </div>
</div> */

/****************************************************/

/* confirm */

/****************************************************/

/*
<div class="febsui-dialog" role="alert">
  <div class="febsui-dialog-container">
    <div class="febsui-dialog-title">title</div>
    <div class="febsui-dialog-content">content</div>
    <ul class="febsui-dialog-buttons">
      <li><button class="febsui-dialog-cancel">cancel</button></li>
      <li><button class="febsui-dialog-ok">ok</button></li>
    </ul>
  </div>
</div> */

/****************************************************/

/* editor */

/****************************************************/

/*
<div class="febsui-dialog" role="alert">
  <div class="febsui-dialog-container">
    <div class="febsui-dialog-title">title</div>
    <div class="febsui-dialog-content">content</div>
    <div class="febsui-dialog-edit">
      <input class="febsui-input-text-noborder" type="text" value="">
    </div>
    <ul class="febsui-dialog-buttons">
      <li><button class="febsui-dialog-cancel">cancel</button></li>
      <li><button class="febsui-dialog-ok">ok</button></li>
    </ul>
  </div>
</div> */

/****************************************************/

/* custom */

/****************************************************/

/* 
<div class="febsui-dialog febsui-dialog-custom" role="alert">
  <div style="" class="febsui-dialog-container">
    <div class="febsui-dialog-content">
      <div>
        {{html}}
      </div>
    </div>
    <ul class="febsui-dialog-buttons">
      <li><button class="febsui-dialog-cancel">cancel</button></li>
      <li><button class="febsui-dialog-ok">ok</button></li>
    </ul>
  </div>
</div> */

.febsui-mask {
  background: transparent;
  background-color: rgba(0, 0, 0, .2);
}

.febsui-dialog {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 20000;

  a {
    color: #35a785;
    text-decoration: none;
  }

  a,
  dl,
  dt,
  dd,
  ol,
  ul,
  li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  .febsui-dialog-container {
    position: relative;
    width: 76%;
    max-width: 300px;
    margin: 9em auto;
    padding-top: 16px;
    color: $whiteTintColor;
    background-color: $whiteBgColor;
    text-align: center;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 12px 12px 12px 12px;
    z-index: 20001;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);

    @supports not (backdrop-filter: blur(2px)) {
      background-color: $whiteBgColorNotBlur;
    }
  }
}

.febsui-dialog ol,
ul {
  list-style: none;
}

.febsui-dialog.febsui-visible .febsui-dialog-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.febsui-dialog .febsui-dialog-container {
  p {
    padding: 3em 1em;
  }

  .febsui-dialog-title {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
    padding: 0 8px;
    text-align: center;
    color: inherit;
  }

  .febsui-dialog-content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-clip: padding-box;
    padding: 4px 12px 8px;
    font-size: 14px;
    min-height: 36px;
    text-align: center;
    max-height: 80%;
    overflow: auto;
    color: inherit;
    word-break: break-all;
  }

  .febsui-dialog-edit {
    width: 100%;
    height: 38px;
    margin-bottom: 8px;

    .febsui-input-text-noborder {
      width: 90%;
    }
  }
  .febsui-dialog-buttons {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    border-radius: 0 0 12px 12px;
    overflow: hidden;

    li {
      float: left;
      width: 50%;
      button {
        margin: 0 !important;
        width: 100%;
        text-decoration: blink;
        display: block;
        font-size: 16px;
        height: 46px;
        border-radius: 0px;
        /* text-transform: uppercase; */
        color: #3A77EE;
        -webkit-transition: background-color 0.2s;
        -moz-transition: background-color 0.2s;
        transition: background-color 0.2s;

        @include borderTopLeft($whiteBgBorderColor);
      }
      button:hover {
        background: rgba(234, 234, 234, 0.5);
      }

      &:nth-child(1) button {
        /* background: #b6bece; */
        border-bottom-left-radius: 12px;
      }

      &:last-child button {
        /* background: #b6bece; */
        border-bottom-right-radius: 12px;
      }

      &:nth-child(1) button {
        /* background: #fc7169; */
        @include borderTop($whiteBgBorderColor);
        border-left: none;
      }

      &:nth-last-child(1):first-child {
        width: 100%;
      }
      &:nth-last-child(2):first-child,
      &:nth-last-child(2):first-child ~ li {
        width: 50%;
      }
      &:nth-last-child(3):first-child,
      &:nth-last-child(3):first-child ~ li:nth-last-child(1),
      &:nth-last-child(3):first-child ~ li:nth-last-child(2) {
        width: 33.33333%;
      }
    }
  }
}

.febsui-dialog .febsui-dialog-container {
  .febsui-dialog-ok {
    cursor: pointer;
    font-weight: 400;
  }
  .febsui-dialog-cancel {
    cursor: pointer;
    font-weight: 600;
  }
}

.febsui-dialog-init-sys .febsui-dialog-container {
  box-shadow: 0px 0px 1px 1px #e8e8e8;
}

/** black bg */

.febsui-dialog-init-sys .febsui-dialog-container-black {
  box-shadow: 0px 0px 1px 1px #3c3c3c;
}

.febsui-dialog .febsui-dialog-container-black {
  background-color: $blackBgColor;
  color: $blackTintColor;
  .febsui-dialog-buttons li button {
    /* background: #b6bece; */
    @include borderTopLeft($blackBgBorderColor);
    &:hover {
      background-color: rgba(255, 255, 255, 0.02);
    }
  }
  .febsui-dialog-buttons li:nth-child(1) button {
    /* background: #fc7169; */
    @include borderTop($blackBgBorderColor);
    border-left: none;
  }

  @supports not (backdrop-filter: blur(2px)) {
    background-color: $blackBgColorNotBlur;
  }
}

@media only screen and (min-width: 1170px) {
  .febsui-dialog .febsui-dialog-container {
    margin: 12em auto;
  }
}

.febsui-dialog.febsui-dialog-custom {
  .febsui-dialog-container {
    // padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    // max-height: initial;
    display: block;
    border: none;
    max-width: 800px;
    position: relative;
    min-height: 200px;
    max-height: 90vh;
    width: 80%;
    padding-bottom: 46px;

    .febsui-dialog-title {
      height: 25px;
      line-height: 25px;
    }
    
    .febsui-dialog-content-wrap {
      height: calc( 100% - 46px );
      // padding-bottom: 46px;
      overflow: auto;
      max-height: initial;
    }

    .febsui-dialog-content-wrap-title {
      height: calc( 100% - 81px);
      // padding-bottom: 46px;
      overflow: auto;
      max-height: initial;
    }

    .febsui-dialog-content {
      max-height: initial;
    }

    &.febsui-dialog-container-noButtons {
      .febsui-dialog-content-wrap {
        height: calc( 100% - 12px );
        // padding-bottom: 12px;
      }

      .febsui-dialog-content-wrap-title {
        height: calc( 100% - 47px);
        // padding-bottom: 46px;
      }
    }
    
    .febsui-dialog-buttons {
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }  
  }

  .febsui-dialog-container {
    .febsui-dialog-buttons li {
      background-color: #ffffff;
    }

    &.febsui-dialog-container-black {
      .febsui-dialog-buttons li {
        background-color: #222222;
      }
    }
  }
}