
/****************************************************/

/* control loading */

/****************************************************/

/*
<span>
  <div class="febsui-loading-c">
    <div class="febsui-loading">
      <div class="febsui-loading-spin"></div>
      <p>1秒后关闭</p>
    </div>
  </div>
</span> */

.febsui-loading-c {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.0001);
  opacity: 1;
  z-index: 20002;
  text-align: center;
  .febsui-loading {
    min-width: 80px;
    min-height: 80px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #cfcfcf;
    font-size: 15px;
    background-color: $blackBgColor;
    opacity: 1;
    box-shadow: 0 0 0px 1px rgba(130, 130, 130, 0.1);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    z-index: 20002;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);

    @supports not (backdrop-filter: blur(2px)) {
      background-color: $blackBgColorNotBlur;
    }

    @media only screen and (max-height: 420px) {
      margin-top: 80px;
    }

    @media only screen and (min-height: 420px) {
      margin-top: 200px;
    }

    @media only screen and (min-height: 700px) {
      margin-top: 300px;
    }

    .febsui-loading-spin {
      opacity: 0.8;
      margin-left: auto;
      margin-right: auto;
      margin-top: 23px;
      width: 26px;
      height: 26px;
      -ms-transform: rotate(0deg);
    }
    p {
      padding-top: 13px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      min-width: inherit;
      max-width: 200px;
      overflow-wrap: break-word;
    }
  }
  .febsui-loading-white {
    color: #252525;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .febsui-loading.febsui-loading-left {
    min-width: 100px;
    max-width: 250px;
    min-height: 40px;
    position: relative;
  
    .febsui-loading-spin {
      margin-top: auto;
      margin-bottom: auto;
      position: absolute;
      left: 13px;
      top: 0;
      bottom: 0;
      display: block;
    }
  
    p {
      margin-left: auto;
      margin-right: auto;
      padding-left: 35px;
      padding-top: 0px;
      display: table-cell;
      vertical-align: middle;
      height: 40px;
      text-align: center;
    }
  }
}
